# This is an example .env file - please fill in your own data if you so wish. 

# to fill in your data, run the command nano .env.example and fill in the values. If you so wish, you can rename the file to .env in the nano editor, but you can run the command below to do it manually. 
# mv .env.example .env 

# Club API, ran by the Club Team at Hack Club. 
# CLUUBAPI_TOKEN is only required if you want to edit / view sensative data, but we are working on it

CLUB_NAME=
CLUBAPI_TOKEN=

# this allows for your finances to be visible on the main dashboard, but will throw errors, if the slug isn't filled in. YOU DO NOT NEED AN API KEY TO GET THIS DATA (AND YOU NEED TO HAVE TRANSPARENT FINANCES ON)
HCB_ORG_SLUG=