<script>
    // lock them out of using /dashboard if they aren't logged in
    if (localStorage.getItem("allowedLogin") !== "true") {
        window.location.href = "/";
    }
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>


<body>
    <div class="loggedin_div" id="user_div">
        <h3>YAYYY! You successfully logged-in using Firebase.....</h3>
        <button onclick="logout()">Logout</button>
    </div>

    <script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-auth-compat.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>