<script>
    // lock them out of using /dashboard if they aren't logged in
    if (localStorage.getItem("allowedLogin") !== "true") {
        window.location.href = "/";
    }
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQr1QkYcdrGrsagb5YQtie8v1qpZdVIwwTS_A&s" type="image/png">
</head>


<body class="dashboard-page">
    <header class="page-header">
        <h1>Welcome to <strong>{{ club_name }}</strong></h1>
        <button onclick="goToDashboard()">Back</button> <!-- this will be at the top right -->
    </header>

    <main class="page-shell">
                <a class="add-member-btn" href="{{ url_for('add_member_form') }}">Add a Member</a>
    
      <div class="members-list">
        {% for id, first, last, created in members %}
        <a class="member-card" href="{{ url_for('member_detail', id=id) }}">
            <div class="member-name">{{ first }} {{ last }}</div>
            <div class="member-meta">Joined: {{ created }}</div>
        </a>
        {% endfor %}
      </div>
    </main>

    <script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-auth-compat.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>