<script>
    if (localStorage.getItem("allowedLogin") !== "true") {
        window.location.href = "/";
    }
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQr1QkYcdrGrsagb5YQtie8v1qpZdVIwwTS_A&s" type="image/png">
</head>


<body class="dashboard-page">
    <header class="page-header">
        <h1>Welcome to <strong>{{ club_name }}</strong></h1>
        <button onclick="goToDashboard()">Back</button>
    </header>

    <main class="page-shell members-page">
        <a class="add-member-btn" href="{{ url_for('add_project_form') }}">Add a Project</a>

        <div style="max-width:1100px;margin:0 auto 8px;text-align:center; margin-top: 15px;">Total payouts: <strong>{{ projects_total }}</strong></div>

        <div class="members-list">
        {% for id, title, created, payout in projects %}
        <a class="member-card" href="{{ url_for('project_detail', id=id) }}">
            <div class="member-name">{{ title }}</div>
            <div class="member-meta">Created: {{ created }} • Payout: ${{ '%.2f' % (payout or 0) }}</div>
        </a>
        {% endfor %}
        </div>
    </main>

    <script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-auth-compat.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>