<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQr1QkYcdrGrsagb5YQtie8v1qpZdVIwwTS_A&s" type="image/png">
</head>


<body>
    <header class="page-header">
        <h1>AS Hack Club Tracker</h1>
    </header>
    
    <main class="page-shell">
        <div class="main_div" id="login_div">
            <h3>Login Authentication</h3>
            <input type="email" placeholder="Email..." id="email_field">
            <input type="password" placeholder="Password..." id="password_field">
            <button onclick="login()">Login</button>
        </div>
    </main>

    <script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-auth-compat.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>